
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e9eef2; 
    margin: 0;
    padding: 20px;
}

.app-container {
    max-width: 600px;
    margin: 0 auto;
}

h1, h2 {
    color: #004a7c; 
    text-align: center;
    margin-bottom: 15px;
}

hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 25px 0;
}


.formulario-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

input, select, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #c0c0c0;
    border-radius: 6px;
    box-sizing: border-box; 
}


button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    margin-top: 5px;
}

.btn-primary { background-color: #007bff; } 
.btn-danger { 
    background-color: #dc3545; 
    width: auto; 
    padding: 8px 15px;
    font-size: 0.9em;
    float: right;
} 

.tarjeta-materia {
    background: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    border-left: 6px solid #004a7c; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    overflow: auto; 
}

.tarjeta-materia h3 {
    margin-top: 0;
    color: #333;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.horario-texto {
    font-weight: bold;
    color: #e8a900; 
    font-size: 1.1em;
}
